<form action="/update/{{product.0}}" method="POST">
    <input type="text" name="nombre" placeholder="Nombre" value="{{product.1}}">
    <input type="text" name="descripcion" placeholder="Descripcion" value="{{product.2}}">
    <select name="color" id="idcolor">
        <option >azul</option>
        <option >blanco</option>
        <option >negro</option>
        <option >rojo</option>
        <option>verde</option>
        <option>morado</option> 
    </select>
    <select name="talla" id="idcolor">
        <option >S</option>
        <option >M</option>
        <option >L</option>
        <option >XL</option>
        <option>XXL</option>
        <option>XXXL</option> 
    </select>
    <button type="submit">
        Actualizar
    </button>
    
</form>
  {% with messages = get_flashed_messages() %} 
    {% if messages %}
      {% for message in messages %}
        <p style="color: green;">{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}