{% extends 'layout.html' %}

{% block body %}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="" alt="Logo de la pagina" width="40" height="40" class="d-line-block align-top">
          Inventario
      </a>
      <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Agregar Colores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Agregar Tallas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Cerrar Sesion</a>
          </li>
        </ul>
  </div>
</nav>
  <div class="container " style="display: flex ;gap: 20px;">
   <div class="form-container " style="flex: 0 0 33%;" >
    <form action="add_product" method="POST">
      <div class="form-group">
        <label for="nombreForm">Nombre</label>
        <input type="text" class="form-control" id="nombreForm" name="nombre" placeholder="Nombre del producto">       
      </div>
      <div class="form-group">
        <label for="descripcionForm">Descripcion</label>
        <textarea class="form-control" name="descripcion" id="descripcionForm" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="colorForm">Color</label>
        <select class="form-control" name="color" id="colorForm">
          <option >azul</option>
          <option >blanco</option>
          <option >negro</option>
          <option >rojo</option>
          <option>verde</option>
          <option>morado</option>     
        </select>
      </div>
      <div class="form-group">
        <label for="tallaForm">Tallas</label>
        <select class="form-control" name="talla" id="tallaForm">
          <option >S</option>
          <option >M</option>
          <option >L</option>
          <option >XL</option>
          <option>XXL</option>
          <option>XXXL</option>     
        </select>
      </div>
      <div style="text-align: center;margin-top: 15px;"><button type="submit" style="text-align: center;">Agregar Producto</button></div>
    </form>
    {% with messages = get_flashed_messages() %} 
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="productos-container" style="flex: 0 0 66%;">
    <table class="table table-striped-columns">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Color</th>
        <th>Talla</th>
        <th>operaciones</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in products %}
        <tr>
          <td>{{ producto.1 }}</td>
          <td>{{ producto.2 }}</td>
          <td>{{ producto.3}}</td>
          <td>{{ producto.4}}</td>
          <td><a href="/edit/{{producto.0}}">edit</a> 
              <a href="/delete/{{producto.0}}" >delete</a> 
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}



  



